.main-content {
    margin: 0;
    padding: 0;
    background: url(https://www.anahuac.mx/mexico/EscuelasyFacultades/economia/sites/default/files/gva-sliderlayer-upload/slider1-kd7eem.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}