<div class="row">
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header">
                <h4 class="card-title"> Listado de Ingresos</h4>
            </div>
            <div class="card-body" *ngIf="!showForm">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>Nombre Ingreso</th>
                            <th>Cuenta</th>
                            <th>Categoria</th>
                            <th>Fecha</th>
                            <th class="text-right">Valor</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let income of incomeList; let i = index">
                                <td>{{income.name}}</td>
                                <td>{{income.account.name}}</td>
                                <td>{{income.category.name}}</td>
                                <td>{{income.date}}</td>
                                <td class="text-right">{{income.value}}</td>
                                <td><button type="button" class="btn btn-secondary my-6"
                                        (click)="editIncomeForm(income, i)">
                                        <i class="nc-icon nc-bulb-63"></i>
                                    </button></td>
                                <td><button type="button" class="btn btn-secondary my-6" (click)="deleteIncome(i)">
                                        <i class="nc-icon nc-simple-remove"></i>
                                    </button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary my-4" (click)="addIncomeForm()">Agregar
                        Ingreso</button>
                </div>
            </div>
            <form *ngIf="showForm">
                <div>
                    <label for="Nombre">Nombre:</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="income.name"
                        placeholder="Nombre Ingreso" autocomplete="off">
                </div>
                <div>
                    <label for="Cuenta">Cuenta:</label>
                    <select name="account" class="form-control" [(ngModel)]="income.account">
                        <option [ngValue]="cuenta" *ngFor="let cuenta of cuentas">{{cuenta.name}}</option>
                    </select>
                </div>
                <div>
                    <label for="Categoria">Categoria:</label>
                    <select name="category" class="form-control" [(ngModel)]="income.category">
                        <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.name}}</option>
                    </select>
                </div>
                <div>
                    <label for="Fecha">Fecha:</label>
                    <input type="date" class="form-control" name="date" [(ngModel)]="income.date"
                        placeholder="01/06/2021">
                </div>
                <div>
                    <label for="Valor">Valor:</label>
                    <input type="number" class="form-control" name="value" [(ngModel)]="income.value"
                        placeholder="$30.0000">
                </div>
                <button type="button" class="btn btn-primary my-4" (click)="submit()">Agregar</button>
                <button type="button" class="btn btn-secondary my-4" (click)="cancel()">Cancelar</button>
            </form>
        </div>
    </div>
</div>