<div class="row">
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header">
                <h4 class="card-title"> Listado de Cuentas</h4>
            </div>
            <div class="card-body"  *ngIf="!showForm">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>Nombre Cuenta</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let account of accountList; let i = index">
                                <td>{{account.name}}</td>
                                <td><button type="button" class="btn btn-secondary my-6" (click)="editAccount(account, i)">
                                    <i class="nc-icon nc-bulb-63"></i>    
                                </button></td>
                                <td><button type="button" class="btn btn-secondary my-6" (click)="deleteAccount(i)">
                                    <i class="nc-icon nc-simple-remove"></i>    
                                </button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary my-4" (click)="addAccount()">Agregar Cuenta</button>
                </div>
            </div>
            <form *ngIf="showForm">
                <div>
                    <label for="Nombre"></label>
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="account.name" placeholder="Nombre Cuenta">
                </div>
                <button type="button" class="btn btn-primary my-4" (click)="submit()">Agregar</button>
            </form>
        </div>
    </div>
</div>