<div class="row">
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header">
                <h4 class="card-title"> Listado de Gastos</h4>
            </div>
            <div class="card-body" *ngIf="!showForm">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>Nombre Ingreso</th>
                            <th>Cuenta</th>
                            <th>Categoria</th>
                            <th>Fecha</th>
                            <th class="text-right">Valor</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let expense of expenseList; let i = index">
                                <td>{{expense.name}}</td>                                
                                <td>{{expense.account}}</td>
                                <td>{{expense.category}}</td>
                                <td>{{expense.date}}</td>
                                <td class="text-right">{{expense.value}}</td>
                                <td><button type="button" class="btn btn-secondary my-6"
                                        (click)="editExpense(expense, i)">
                                        <i class="nc-icon nc-bulb-63"></i>
                                    </button></td>
                                <td><button type="button" class="btn btn-secondary my-6" (click)="deleteExpense(i)">
                                        <i class="nc-icon nc-simple-remove"></i>
                                    </button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary my-4" (click)="addExpense()">Agregar Gasto</button>
                </div>
            </div>
            <form *ngIf="showForm">
                <div>
                    <label for="Nombre">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="expense.name" placeholder="Nombre Gasto" autocomplete="off">
                </div>
                <div>
                    <label for="Cuenta">Cuenta:</label>
                    <select name="account" class="form-control" [(ngModel)]="expense.account">
                        <option [value]="item" *ngFor="let item of listaCuentas">{{item}}</option>
                    </select>
                </div>
                <div>
                    <label for="Categoria">Categoria:</label>
                    <select name="category" class="form-control" [(ngModel)]="expense.category">
                        <option [value]="item" *ngFor="let item of listaCategorias">{{item}}</option>
                    </select>
                </div>
                <div>
                    <label for="Fecha">Fecha:</label>
                    <input type="date" class="form-control" name="date" [(ngModel)]="expense.date" placeholder="DD/MM/YYYY">
                </div>
                <div>
                    <label for="Valor">Valor:</label>
                    <input type="number" class="form-control" name="value" [(ngModel)]="expense.value" placeholder="$30.0000">
                </div>
                <button type="button" class="btn btn-primary my-4" (click)="submit()">Agregar</button>
                <button type="button" class="btn btn-secondary my-4" (click)="cancel()">Cancelar</button>
            </form>
        </div>
    </div>
</div>